<div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" placeholder="CEP" [(ngModel)]="endereco.cep" name="cep" required>
    <small class="form-text text-muted"></small>
</div>

<div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" placeholder="Endereço" [(ngModel)]="endereco.logradouro" name="logradouro" required>
    <small class="form-text text-muted"></small>
</div>

<div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" placeholder="Bairro" [(ngModel)]="endereco.bairro" name="bairro" required>
    <small class="form-text text-muted"></small>
</div>

<div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]="endereco.localidade" name="localidade" required>
    <small class="form-text text-muted"></small>
</div>

<div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control" placeholder="Estado" [(ngModel)]="endereco.uf" name="uf" required>
    <small class="form-text text-muted"></small>
</div>